{% extends "base.html" %}

{% load staticfiles %}

{% block site_title %}
Home | Banks Project
{% endblock site_title %}

{% block title %}
Home | Banks Project
{% endblock title %}

{% block body-id %}{% endblock %}

{% block content %}

    {% load webdesign %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Info</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="text-center">
                            Bank
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for bank in banks_list %}
                            <li class="list-group-item">
                                {{bank.name}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="text-center">
                            Interest Rate
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for bank in banks_list %}
                            <li class="list-group-item">
                                {{bank.interest_rate}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="text-center">
                            Minimum Investment
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for bank in banks_list %}
                            <li class="list-group-item">
                                ${{bank.lower_limit}}.00
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="text-center">
                            Maximum Investment
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for bank in banks_list %}
                            <li class="list-group-item">
                                ${{bank.upper_limit}}.00
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <h5>You can add a new bank in the "Register" section.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Investment Suggestion</h1>
            </div>
        </div>
        <div class="row">
            {% for user in examples %}
                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                {{ user.name }}
                            </h4>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            {% for bank, money in user.banks.items %}
                                <li class="list-group-item">
                                    {{bank}}: {{money}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>You can add a new investor in the "Register" section.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6>*In case there is an error message, the reason may be that there is not enough money to cover the minimum investment, or that it exceeds the maximum of all the selected banks.</h6>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; opardo {% now 'Y' %}</p>
        </div>
    </footer>


{% endblock %}


